.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
    height: 100vh;
    display: flex;
}

.box1, .box2, .box3, .box4 {
    width: 300px; 
    height: 100px;  
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: yellow;
}

.box4{
    background-color: green;
}